

body {
  background-color: #212529;
}

/* styles for header */
header {
  height: 60px;
  padding: 0 5%;
  margin-bottom: 50px;
  color: #212529;
}

/* styles @max width 768px */
@media(max-width: 768px) {}
